
#root {
  width: 100%;
  margin: 0 auto;
  text-align: left;
}

.font-inter {
  font-family: 'Inter', sans-serif;
}

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100%;
  padding: 1rem;
}

/* Fix double arrows in dropdowns */
.select-trigger .chevron-down {
  display: none;
}

